html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, tr, td,
 form, object, embed, article, aside, canvas, command, details, fieldset, figcaption,
 figure, footer, group, header, hgroup, legend, mark, menu, meter, nav, output, progress,
 section, summary, time, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
 display: block;
}

html, body, table, input, textarea {
 font: 12px/18px "Roboto", sans-serif;
}

a:link, a:visited a:active {
 text-decoration: none;
 outline: none;
}

html, body {
 min-height: 100%;
 min-width: 100%;
 position: absolute;
 background: none repeat scroll 0 0 #FFF;
}

ol, ul {
 list-style: none;
}

.padding5 {
 padding : 5px;
}

h1 {
 padding: 30px 0;
 font-size: 32px;
 font-weight: 100;
 line-height: 1.125;
}

h2 {
 font-size: 24px;
 font-weight: 100;
 line-height: 1.125;
}

.lfloat {
 float: left;
}

.rfloat {
 float: right;
}

.ralign {
 text-align: right;
}

.mlm {
 margin-left: 10px;
}

.mrm {
 margin-right: 10px;
}

.mbm {
 margin-bottom: 10px;
}

.mtm {
 margin-top: 10px;
}

.header-bar {
 background-color: #F5F5F5;
 border: 1px solid #e2e2e2;
 height: 60px;
 padding-top: 20px;
 padding-left: 20px;
}

.main-content {
 margin: 30px auto;
 width: 1060px;
}

.error {
 color: red;
}

.please-wait-dialog {
 background : transparent;
 z-index: 2000;
 position: fixed;
 top: 0px;
 left: 0px;
 height: 100%;
 width: 100%;
 overflow: hidden;
 -webkit-transition: 0.1s ease-in-out -webkit-opacity;
 -moz-transition: 0.1s ease-in-out -moz-opacity;
 -ms-transition: 0.1s ease-in-out opacity;
 -o-transition: 0.1s ease-in-out opacity;
 transition: 0.1s ease-in-out opacity;
}

.please-wait-spinner {
 position: fixed;
 top: 50%;
 left: 50%;
 z-index: 2001;
}

.hover {
 cursor: pointer;
}

.glyphicon{
 top: -1px;
}

.elipsis {
 /*overflow: hidden;*/
 text-overflow: ellipsis;
 white-space: nowrap
}

.path-image {
 height: 50px;
 width: 50px;
}

.tag {
 min-width: 100px;
 display: inline-block;
}

.details {
 border: 2px solid #e2e2e2;
 border-radius: 3px;
 padding: 5px;
}

.like-icon {
 font-size: 16px;
 cursor: pointer;
}

.description {
 background: #f5f5f5;
 margin: 0px;
 padding: 10px;
 border: 1px solid #e2e2e2;
 border-radius: 3px;
}

.votes {
 display: inline-block;
}

.curriculum {
 display: inline-block;
 float: right;
}